<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DJangoForm{% endblock %}</title>
</head>
<body>
    <header>
    {% comment %} 各ページへのリング {% endcomment %}
        <a href="{% url 'student_app:index'%}">メンバー追加</a>
        <a href="{% url 'student_app:students_list'%}">メンバー一覧</a>
        <a href="{% url 'student_app:insert_multiple_students'%}">メンバー一括追加</a>
    </header>
    {% block content %}{% endblock %}
</body>
</html>